@{
    ViewBag.Title = "Edit";
}
@model TopGunLab_Practice3.Models.Product
@section Body
    {
    <div class="h1" style="font-family:'Segoe UI'; padding:5px">@ViewBag.Title</div>
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
    {
        <table class="table table-hover">
            <tr>
                <th scope="row" class="bg-success" style="width:100px"><p>Name</p></th>
                <td>
                    @Html.TextBox("Name")
                    @Html.ValidationMessage("Name", new { @style = "color:red" })
                </td>
            </tr>
            <tr>
                <th scope="row" class="bg-success"><p>Quantity</p></th>
                <td>
                    @Html.TextBox("Quantity")
                    @Html.ValidationMessage("Quantity", new { @style = "color:red" })
                </td>
            </tr>
            <tr>
                <th scope="row" class="bg-success"><p>Type</p></th>
                <td>
                    @Html.EnumDropDownListFor(
                x => x.Type,
                null,
                new { @class = "form-control" })
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Edit" />
    }
}
}

